h1 {
  color: white;
  font-size: 80px;
}
div {
  padding: 50px 50px 50px;
}

tab {
  padding: 15px 50px;
  font-size: 50px;
  color: orange;
}
tab:hover{
  color:blue;
}

body {
  background: grey;
  padding: 3rem 0 0 3rem;
  font-size: 12px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
